@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS reset begin */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-height: 100dvh;
  font-family: "Montserrat", sans-serif;
  max-width: 100vw;
  overflow-x: hidden !important;
}

#root {
  min-height: 100dvh;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

/* CSS reset end */
